<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>

	                 <h1>404 Not Found</h1>
                   <h2>Check You Fucking Server Please</h2>
                   <p>{{message}}</p>

  </body>
</html>
